
$primary-color: rgba(0, 173, 255, 1);
$secondary-text-color: rgba(0, 0, 0, .68);

$button-primary-color: rgb(193, 235, 255);

$normal-text-color: rgb(0, 0, 0);

$border-color: rgba(0,0,0,.15);

$avatar-online-color: rgb(3, 168, 124);

$loading-color: rgba(255, 255, 255, 0.2);
$loading-effect-color: rgb(255, 255, 255);
